:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body,
p {
  color: #787976;
  font: 400 1rem / 1.5625rem "Open Sans", sans-serif;
}

body,
html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

.navbar-brand {
  margin-right: 50%;
  margin-left: 5%;
  width: 60%;
}

.navbar-nav .nav-item .nav-link {
  margin-left: 25px; /* Adjust the margin as needed */
  font-size: large;
}

.navbar-nav .nav-item .nav-link i {
  font-size: 1.2em; /* Adjust the icon size as needed */
}

/* Custom Navbar Styles */
.navbar {
  background-color: rgba(248, 249, 250, 0.8); /* Warna latar belakang navbar */
  border-bottom: 1px solid #b1e994; /* Garis bawah navbar */
  border-radius: 20px; /* Menghapus border-radius bawaan */
  box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.1); /* Efek bayangan navbar */
}

.navbar-brand {
  font-weight: bold; /* Menambah ketebalan font untuk brand */
}

.navbar-nav .nav-link {
  color: #495057; /* Warna teks link */
}

.navbar-nav .nav-link:hover {
  color: #007bff; /* Warna teks link saat dihover */
}

.navbar-toggler {
  border: none; /* Menghapus border dari toggler */
}

.navbar-toggler-icon {
  color: #007bff; /* Warna ikon toggler */
}

.navbar-collapse {
  border-top: 1px solid #dee2e6; /* Garis atas dropdown */
}

/* header start */
.header{
  /* margin: 20px 20px 20px; */
  text-align: start;
  background: radial-gradient(circle, rgb(90, 134, 216), rgb(149, 180, 248));
  display: flex;
  flex-direction: row;
  max-height: fit-content;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}

.header .header-image{
  max-width: 50%;
  height: 50%;
  align-items: center;
  margin: 0%;
}

.header .header-image img{
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  marker-start: 50px;
}

.header .header-content{
  margin-top: 50px;
  margin-bottom: 50px;
  marker-start: 50px;
}

.header .header-content h3{
  font-size: clamp(1rem, 2vw + 1rem, 2.5rem);
  font-style: oblique;
  margin-top: 25%;
}

.header .header-content p{
  font-size: large;
  font-style: italic;
}

.header .header-content .btn btn-outline-primary{
  padding-bottom: 20px;
}

/* grid books item list */
.book-container{
  margin: auto;
  align-items: center;
  position: relative;
  padding: 3rem 4rem;
  max-width: 1200px;
}

.book-container .book-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 0.5fr));
  gap: 1rem;
  margin-top: 1rem;
}

.book-container .book-list .book-item{
  text-align: center;
  padding: 1rem 0.5rem;
  background-color: #f8f9fa;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.3s;
}

.book-container .book-list .book-item .book-image-container{
  align-items: center;
  display: flex;
  justify-content: center;
  width: auto;
  height: 15rem;
}

.book-container .book-list .book-item .book-image-container img {
  align-items: center;
  height: 12rem;
  max-width: 95%;
  margin: 0;
  object-fit: cover;
}

.book-container .book-list .book-item:hover {
  transform: scale(1.2);
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
}

.book-container .book-list .book-item h3{
  margin-top: 0.5rem;
  position: relative;
}


/* grid books item ends */

/* Footer Style Custom Start */
.footer {
  position: relative;
  top: 25%;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 100%;
  background: #95d2b3;
}

.footer .top {
  display: flex;
  justify-content: space-around;
  padding: 0;
  width: 100%;
}

.footer .top .footer-link h2,
.footer .top .informations h2,
.footer .top .sosial-media h2 {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: var(--bg);
}

.footer .top .footer-link .links a,
.footer .top .informations .links a,
.footer .top .sosial-media .links a {
  text-decoration: none;
  color: var(--light);
  font-size: 1.1rem;
  display: flex;
  align-items: center;
}

.footer .top .footer-link .links a:hover,
.footer .top .informations .links a:hover,
.footer .top .sosial-media .links a:hover {
  text-decoration: underline;
  color: var(--info);
}

.footer .footer-link,
.footer .informations,
.footer .sosial-media {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer .footer-link .links,
.footer .informations .links,
.footer .sosial-media .links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer .sosial-media .links a i {
  font-size: 1.5rem;
  color: var(--light);
  margin-right: 0.5rem;
}

.footer .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--gray);
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  box-shadow: #e7e7e79d 2px 2px 5px;
}

.footer .bottom a {
  color: var(--light);
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 2px;
  font-family: "Open Sans" sans-serif;
}

.footer .bottom .back-btn {
  color: var(--secondary);
  background-color: var(--info);
  border-radius: 50%;
  height: 50%;
  width: fit-content;
  padding: 0 0.22rem;
  letter-spacing: normal;
  font-size: 1.3rem;
}

.footer .back-btn i {
  display: flex;
  font-size: 1.3rem;
  color: #000;
  text-align: center;
  justify-content: center;
}

/* Footer Style Custom end */