:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body,
p {
  color: #787976;
  font: 400 1rem / 1.5625rem "Open Sans", sans-serif;
}

body,
html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

.navbar-brand {
  margin-right: 50%;
  margin-left: 5%;
  width: 60%;
}

.navbar-nav .nav-item .nav-link {
  margin-left: 25px; /* Adjust the margin as needed */
  font-size: large;
}

.navbar-nav .nav-item .nav-link i {
  font-size: 1.2em; /* Adjust the icon size as needed */
}

/* Custom Navbar Styles */
.navbar {
  background-color: rgba(248, 249, 250, 0.8); /* Warna latar belakang navbar */
  border-bottom: 1px solid #b1e994; /* Garis bawah navbar */
  border-radius: 20px; /* Menghapus border-radius bawaan */
  box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.1); /* Efek bayangan navbar */
}

.navbar-brand {
  font-weight: bold; /* Menambah ketebalan font untuk brand */
}

.navbar-nav .nav-link {
  color: #495057; /* Warna teks link */
}

.navbar-nav .nav-link:hover {
  color: #007bff; /* Warna teks link saat dihover */
}

.navbar-toggler {
  border: none; /* Menghapus border dari toggler */
}

.navbar-toggler-icon {
  color: #007bff; /* Warna ikon toggler */
}

.navbar-collapse {
  border-top: 1px solid #dee2e6; /* Garis atas dropdown */
}

.header{
  margin: 20px 20px 20px;
  text-align: start;
}

/* grid books item list */
.book-container{
  margin: auto;
  align-items: center;
  position: relative;
  max-width: 1200px;
}

.book-container .book-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 0.5fr));
  gap: 0.5rem;
}

.book-container .book-list .book-item{
  text-align: center;
  padding: 1rem 0.5rem;
  background-color: #f8f9fa;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px;
}

.book-list .book-item img{
  max-width: 250px;
  min-height: 300px;
}