body {
    background: url(../picture/background.jpg);
    filter: blur(8px);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container img {
    height: 3rem;
    flex: 1;
    background-size: cover;
}
