:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --bg: #eaeaea;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #e4e4e4;
  --dark: #343a40;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body,
p {
  color: #787976;
  font: 400 1rem / 1.5625rem "Open Sans", sans-serif;
}

body,
html {
  height: 100%;
  width: 100%;
}

/* Custom Navbar Styles */

.navbar-brand {
  margin-right: 50%;
  margin-left: 5%;
  width: 60%;
}

.navbar-nav .nav-item .nav-link {
  margin-left: 25px;
  font-size: large;
}

.navbar-nav .nav-item .nav-link i {
  font-size: 1.2em;
}

.navbar {
  background-color: rgba(248, 249, 250, 0.8);
  border-bottom: 1px solid #b1e994;
  border-radius: 20px;
  box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  position: relative;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-nav .nav-link {
  color: #495057;
}

.navbar-nav .nav-link:hover {
  color: #007bff;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  color: #007bff;
}

.navbar-collapse {
  border-top: 1px solid #dee2e6;
  transition: max-height 0.5s ease;
}

/* Image Slider */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: var(--dark);
}

body {
  background: var(--bg);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  color: var(--dark);
  text-align: left;
  background-color: #fff;
  width: 100%;
}

.break {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
}

.break .item {
  width: 90%;
  height: 90%;
  background: #8888889e;
  border: 1px solid #b8b8b8;
  box-shadow: 0 0 10px #b8b8b8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.break .item h3 {
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: max-content;
  justify-content: center;
  align-items: center;
  margin-bottom: 20vh;
}

.container .img-fluid {
  width: 70%;
  height: 60%;
  border: 1px solid var(--gray);
  padding: 2rem;
  margin-top: 2rem;
}

.container .desc {
  width: 70%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.container .desc p {
  text-align: center;
}

.container .btn {
  display: flex;
  gap: 2rem;
  display: flex;
  justify-content: center;
  width: 70%;
  margin-top: 2rem;
}

.container .btn button {
  transition: .2s;
  font-size: 17px;
  width: 30%;
}

.container .btn button:hover {
  background: var(--cyan);
  color: #fff;
}

.footer {
  display: flex;
  align-items: center;
  position: relative;
  bottom: auto;
  top: auto;
  right: 0;
  left: 0;
  justify-content: space-around;
}

.footer .card-body {
  background: var(--bg);
  width: 100%;
}

.footer .home-link {
  color: #fff;
  width: max-content;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  padding: 2rem;
  background: transparent;
}

.footer .link-list {
  display: flex;
  width: 30%;
  justify-content: space-between;
}

.footer .link-list a {
  color: var(--cyan);
  font-size: 1.1rem;
  text-decoration: none;
}

/* Query Phone */
@media (min-width: 310px) and (max-width: 430px){
  *, body{
    font-size: 80%;
  }

  .container {
    width: 100%;
    height: fit-content;
  }

  .container .img-fluid {
    width: 90%;
  }

  .container .desc {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container .desc p {
    text-align: center;
    font-size: 130%;
  }
}

/* Query Tablet */ 
@media (min-width: 431px) and (max-width: 890px) {
  *, body {
    font-size: 100%;
  }

  .container {
    width: 100%;
    height: fit-content;
    margin-bottom: 20%;
  }

  .container .img-fluid {
    width: 90%;
  }

  .container .desc {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container .desc p {
    text-align: center;
    font-size: 135%;
  }

  .container .desc h1 {
    font-size: 200%;
  }

  .container .desc h3 {
    font-size: 170%;
  }

  .container .btn {
    width: 100%;
    justify-content: center;
    display: flex;
    margin-top: 5%;
  }

  .container .btn button {
    width: 30%;
    padding: 15px;
    font-size: 120%;
  }
}